.yesNoQ {
  width: initial;
  align-self: stretch;
}
.mCQ {
  width: initial;
  align-self: stretch;
}
.root {
  display: block;
  position: relative;
  width: 1056px;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  background-color: #f2f0f9;
}
.frame27 {
  position: relative;
  margin-left: 27px;
  margin-top: 20px;
  width: 1027px;
  height: 100%;
  flex-direction: column;
  gap: 20px;
}
