.yesNoQ {
  width: initial;
  align-self: stretch;
}
.loremIpsumDolorSitAmetConsecte {
  position: absolute;
  left: 16px;
  top: 12px;
  width: 806px;
  height: min-content;
  flex-direction: column;
}
.textBlock {
  color: #272340;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.yesNoQList {
  width: initial;
  align-self: stretch;
  height: 130px;
}
.mCQ {
  width: initial;
  align-self: stretch;
}
.listBlock {
  margin: 10px;
}
.root {
  position: relative;
  width: 1056px;
  height: 1223px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle98 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1056px;
  height: 1223px;
  border-radius: 8px;
  background-color: #f2f0f9;
}
.frame27 {
  position: absolute;
  left: 29px;
  top: 30px;
  width: 1027px;
  height: min-content;
  flex-direction: column;
  gap: 20px;
}
