.yesNoQ {
  width: initial;
  align-self: stretch;
}
.loremIpsumDolorSitAmetConsecte {
  position: absolute;
  left: 16px;
  top: 12px;
  width: 806px;
  height: min-content;
  flex-direction: column;
}
.textBlock {
  color: #272340;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.root {
  position: relative;
  width: 1054px;
  height: 640px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle98 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1054px;
  height: 640px;
  border-radius: 8px;
  background-color: #f2f0f9;
}
.titleBlock {
  color: #272340;
  font-size: 14px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  position: absolute;
  left: 29px;
  top: 14px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame28 {
  position: absolute;
  left: 29px;
  top: 62px;
  width: 1025px;
  height: min-content;
  flex-direction: column;
  gap: 20px;
}
.mCQ {
  position: relative;
  height: 140px;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f2f0f9;
}
